.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 2px solid pink;
    background-image: url("../../images/4882066.jpg");
    font-size: 24px;
    font-weight: bolder;
    color: white;
  }
  
  .logo {
    display: flex;
    width: 30%;
    height: 150px;
  }

  .logo img {
    border-radius: 50px;
    margin: 20px;
  }
  